---
import '../styles/global.css';

import background from '../assets/background.svg';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';

const pageTitle = 'About Me';

const identity = {
  name: 'Brad Bales',
  location: 'Birmingham, AL',
  occupation: 'QA Automation Engineer',
  hobbies: ['photography', 'painting', 'video games'],
};

const skills = ['HTML', 'CSS', 'JavaScript', 'React', 'Astro', 'Painting'];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = 'navy';
const fontWeight = 'bold';
const textCase = 'uppercase';
---

<Layout pageTitle={pageTitle}>
  <p>
    Aspiring web developer, full-time QA Automation Engineer, and part-time
    artist.
  </p>
  <p>
    Currently, I am working through a tutorial project so I can learn how to use
    Astro to build content driven websites.
  </p>

  <p>Here are a few facts about me:</p>
  <ul>
    <li>My name is {identity.name}.</li>
    <li>
      I live in {identity.location} and I work as a {identity.occupation}.
    </li>
    {
      identity.hobbies.length >= 2 && (
        <li>
          Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}
        </li>
      )
    }
  </ul>
  <p>My skills are:</p>
  <ul>
    {skills.map((skill) => <li class='skill'>{skill}</li>)}
  </ul>
  {happy && <p>I am happy to be learning Astro!</p>}
  {finished && <p>I finished this tutorial!</p>}
  {
    goal === 3 ? (
      <p>My goal is to finish in 3 days.</p>
    ) : (
      <p>My goal is not 3 days.</p>
    )
  }
</Layout>

<style is:global define:vars={{ skillColor, fontWeight, textCase }}>
  h1 {
    color: purple;
    font-size: 4rem;
  }

  .skill {
    color: var(--skillColor);
    font-weight: var(--fontWeight);
    text-transform: var(--textCase);
  }
</style>
